/* свойство display 
отвечает за отображение блоков информации
- block (столбик)
- inline (строка)
- inline-block (размещение блоков в строку)
*/

.textColumn {
  display: inline-block;
  width: 49%; /*ширина блока*/
  text-align: justify;
  border: 1px solid blue;
  box-sizing: border-box;
}

span {
  display: inline;
  border: 5px solid red;
}
